alabaster==0.7.12
alembic==1.4.3
apache-airflow==1.10.12
apispec==1.3.3
argcomplete==1.12.1
argh==0.26.2
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.4
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
bleach==3.2.1
cached-property==1.5.2
cattrs==1.0.0
certifi==2020.6.20
cffi==1.14.0
cfgrib==0.9.8.4
cftime==1.2.1
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorlog==4.0.2
conda==4.8.5
conda-package-handling==1.7.0
configparser==3.5.3
croniter==0.3.34
cryptography==2.9.2
cycler==0.10.0
dask==2.29.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
dill==0.3.2
dnspython==2.0.0
docutils==0.16
email-validator==1.1.1
entrypoints==0.3
flake8==3.8.4
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-Cors==3.0.9
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.14
Flask-WTF==0.14.3
funcsigs==1.0.2
future==0.18.2
graphviz==0.14.1
gunicorn==20.0.4
helpdev==0.7.1
idna==2.9
imagesize==1.2.0
importlib-metadata==2.0.0
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
iso8601==0.1.13
isort==5.5.4
itsdangerous==1.1.0
jedi==0.17.1
jeepney==0.4.3
Jinja2==2.11.2
json-merge-patch==0.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
keyring==21.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lockfile==0.12.2
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
natsort==7.0.1
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
netCDF4==1.5.4
numpy==1.19.2
numpydoc==1.1.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pendulum==1.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
prison==0.1.3
prompt-toolkit==3.0.7
psutil==5.7.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.1
PyJWT==1.7.1
pylint==2.6.0
pymongo==3.11.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
pyrsistent==0.17.3
PySocks==1.7.1
python-daemon==2.2.4
python-dateutil==2.8.1
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
pytzdata==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome==1.0.1
qtconsole==4.7.7
QtPy==1.9.0
requests==2.23.0
rope==0.17.0
Rtree==0.9.4
ruamel-yaml==0.15.87
SecretStorage==3.1.2
setproctitle==1.1.10
sip==4.19.13
six==1.14.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.5
spyder-kernels==1.9.4
SQLAlchemy==1.3.19
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
tabulate==0.8.7
tenacity==4.12.0
testpath==0.4.4
text-unidecode==1.3
thrift==0.13.0
toml==0.10.1
tornado==6.0.4
tqdm==4.46.0
traitlets==5.0.4
tzlocal==1.5.1
ujson==3.2.0
unicodecsv==0.14.1
urllib3==1.25.8
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.12.1
WTForms==2.3.3
wurlitzer==2.0.1
xarray==0.16.1
yapf==0.30.0
zipp==3.3.0
zope.deprecation==4.4.0
