[Unit]
Description=Airflow scheduler daemon
# After=network.target postgresql.service mysql.service redis.service rabbitmq-server.service
After=network.target postgresql.service
#Wants=postgresql.service mysql.service redis.service rabbitmq-server.service
Wants=postgresql.service
[Service]
EnvironmentFile=/etc/environment
# EnvironmentFile=/etc/default/airflow
# Environment="PATH=/home/ubuntu/miniconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
# EnvironmentFile=/home/airflow/airflow.env
Environment="PATH=/home/ubuntu/miniconda3/bin/bin"
Environment="AIRFLOW_HOME=/home/ubuntu/airflow"
# User=airflow
# Group=airflow
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/home/ubuntu/miniconda3/bin/airflow scheduler
# ExecStart=/usr/local/bin/airflow scheduler
# ExecStart=/bin/bash -c 'source /home/user/anaconda3/etc/profile.d/conda.sh; \
#     conda activate ENV; \
#     airflow initdb; \
#     airflow scheduler'
Restart=always
RestartSec=5s
[Install]
WantedBy=multi-user.target